.form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 20px;
  background-color: #f7f7f7;
  border: 1px solid #ccc;
  border-radius: 5px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

/* Estilo para etiquetas de los campos */
label {
  display: block;
  margin-bottom: 5px;
  font-weight: bold;
}
