.form_container {
  display: flex;
  padding: 20px;
  background-color: #f7f7f7;
  border: 1px solid #ccc;
  border-radius: 5px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

/* Estilos del formulario*/
.form {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
}

/* Estilo para etiquetas de los campos */
label {
  margin-bottom: 5px;
  font-weight: bold;
}
