.loadsBox {
  margin: 0 auto;
  padding: 20px;
  background-color: #f7f7f7;
  border: 1px solid #ccc;
  border-radius: 5px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.header {
  margin-bottom: 20px;
  background-color: #007bff;
  color: #fff;
  padding: 10px;
  text-align: center;
}

.header h2 {
  font-size: 24px;
  margin: 0;
}

main {
  justify-content: space-evenly;
}

.footer {
  margin-top: 20px;
  background-color: #333;
  color: #fff;
  padding: 10px;
  text-align: center;
}

.footer p {
  margin: 0;
}

a {
  color: #fff;
}

/* Estilos para resoluciones grandes (ejemplo: 1024px o superior) */
@media (min-width: 1024px) {
  .loadsBox {
    width: 95%; /* Ajusta el ancho según tus preferencias */
  }

  .header h2 {
    font-size: 36px; /* Aumenta el tamaño de fuente */
  }

  main {
    display: flex;
    align-items: flex-start; /* Alinear los elementos al principio del contenedor */
  }

  .form {
    flex-grow: 1; /* Permite que el formulario ocupe el espacio restante */
  }
  .table {
    flex-grow: 1;
  }
}
