.loadsBox {
  margin: 0 auto;
  padding: 20px;
  background-color: #f7f7f7;
  border: 1px solid #ccc;
  border-radius: 5px;
  box-shadow: 0 0 10 rgba(0, 0, 0, 0.1);
}

.header {
  background-color: #007bff;
  color: #fff;
  padding: 10px;
  text-align: center;
}

/* Estilo para el título dentro del encabezado */
.header h2 {
  font-size: 24px;
  margin: 0;
}
/* Estilo para el footer */
.footer {
  margin-top: 20px;
  background-color: #333;
  color: #fff;
  padding: 10px;
  text-align: center;
}

/* Estilo para el párrafo dentro del footer */
.footer p {
  margin: 0;
}
a {
  color: #fff;
}
/* Estilo para el contenedor principal (main) */
main {
  padding: 20px;
}
